/* Header Container */
header {
  background-color: #007bff;
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(207, 24, 24, 0.1);
}

/* Navigation Menu */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation Links */
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px 50px;
  font-size: 18px;
  transition: color 0.3s ease;
}

/* Link Hover Effect */
nav a:hover {
  color: #ffdd57;
}

/* Active Link */
nav a.active {
  border-bottom: 2px solid #ffdd57;
}

/* Menu Icon */
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
  nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #4c4e50;
      text-align: center;
      padding: 20px 0;
      height: 100%;
      z-index: 9999;
  }

  .menu-icon {
      display: block;
  }

  .menu-icon.active + nav {
      display: flex;
  }
}
